@import "../common/_shared.scss";

body,html {
	background-color: #003087;
}

.in-home-signup-page {
	display: flex;
	justify-content: center;

	.in-home-logo {
		width: 50px;
		height: 53px;
		margin-left: 30rem;
		margin-right: 30rem;
		margin-top: 8rem;
	}
}
